# TURN servers — Metered.ca
# Conseguir credenciales en https://www.metered.ca/
TURN_USERNAME=tu_username_aqui
TURN_CREDENTIAL=tu_password_aqui
STUN_URL=stun:stun.relay.metered.ca:80
TURN_URL_80=turn:global.relay.metered.ca:80
TURN_URL_80_TCP=turn:global.relay.metered.ca:80?transport=tcp
TURN_URL_443=turn:global.relay.metered.ca:443
TURN_URL_443_TCP=turns:global.relay.metered.ca:443?transport=tcp

# PeerJS server (opcional — usa servidor público por default)
PEER_HOST=0.peerjs.com
PEER_PORT=443
PEER_PATH=/
